/* Choose a built-in theme (e.g., Aura Light Pink or Lara Light Blue) */
@import "primeng/resources/themes/aura-light-pink/theme.css";
@import "primeng/resources/primeng.min.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";

body {
    margin: 0;
    font-family: var(--font-family);
    background-color: var(--surface-ground);
}